<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Username">
            </mat-form-field>       
            <mat-form-field>
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
            <mat-card-actions align="end">
                <button mat-raised-button type="submit" color="primary">Login</button>
            </mat-card-actions>
                
          </form>
    </mat-card>
</div>
