.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/../assets/static/Cric2.jpg'); /* Update the path as needed */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .login-form {
    background-color: rgb(245, 241, 241);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
  }