<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">WELCOME</mat-toolbar>
            <div fxLayoutAlign="stretch" fxLayout="column">
                <div style="margin: 5%">
                    <button style="width: -webkit-fill-available" mat-raised-button type="submit">Register</button>
                </div>
                <br>
                <div style="margin: 5%">            
                    <button style="width: -webkit-fill-available" mat-raised-button type="submit">Login</button>
                </div>
            </div>
    </mat-card>
</div>
